name: Build and Deploy Docs

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Node.js 24.x
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.x
          cache: npm

      - name: Install dependencies
        run: npm install
      
      - name: Audit dependencies
        if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
        run: npm audit

      - name: Build website
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          user_name: brave-builds[bot]
          user_email: brave-builds@brave.com
